In [4]:
#1 PRINT

print("Hello World!");

Hello World!

In [5]:
#2 VARIABLE
# VARIABLE FOR STRINGS

my_name = "Kumail Ali";
print(my_name);

Kumail Ali

In [6]:
#2 CHANGING VARIABLE (note that my_name is no longer "Kumail Ali")

my_name = "Kurasail";
print(my_name);

Kurasail

In [8]:
#2 YOU CAN NEVER ENCLOSE A VARIABLE NAME IN QUOTATION MARKS.
# VARIABLE NAMES CAN'T HAVE SPACES IN THEM.
'''country of origin (not legal)
   countryoforigin   (legal)
'''
my_name

'Kurasail'

In [9]:
#3 VARIABLES FOR NUMBERS

mass = 100;
print(mass);

100

In [10]:
#3 ADDITION (it can only adds and subtracts "numbers" not strings)

new_mass = mass + 50;
print(new_mass);

150

In [11]:
#3 WITH 2 VARIABLES

left_side = 30;
right_side = 25.5;
new_side = left_side - right_side;
print(new_side);

4.5

In [12]:
#3 NOTE THAT A VARIABLE CAN BE USED IN CALCULATING ITS OWN NEW VALUE

far = 60;
far = far + 34;
print(far);

94

In [1]:
#4 MATH EXPRESSIONS ( familiar operators i.e. " + , - , / , * "etc )

s_number = 8 + 7;
print(s_number);

15

In [2]:
#4 MATH EXPRESSIONS ( familiar operators i.e. + - / * etc )

loss = 40 - 32;
print(loss);

8

In [3]:
#4 MATH EXPRESSIONS ( familiar operators i.e. + - / * etc )

fam_number = 12 / 4 * 4;
print(fam_number);

12.0

In [4]:
#4 CALCULATION USING AN EXPRESSION CONTAINING NOTHING BUT VARIABLES ( familiar operators i.e. + - / * etc )

number = 10;
total = 31;
sum_number = number + total;
print(sum_number);

41

In [ ]:
#5 VARIABLE NAMES ( legal and illegal)
# some of the illegal variable names in python

False
and
or
True
assert
if
import

In [5]:
#6 MATH EXPRESSIONS ( unfamiliar operators )
# MODULO operator (%) ( Remainder of division )

mod_one = 10 % 3;
print(mod_one);

1

In [6]:
#6 MODULO operator ( Remainder of division )
 
mod_and_1 = 9 % 3;
print(mod_and_1);

0

In [7]:
#6 just like ... simple operation
# SHORTHAND WAY ( shortcut way )
mass = 10;
mass += 45;
print(mass);

55

In [8]:
#6 can do with other operations as well just like the same ...

mass_1 = 10;
mass_1 *= 5;
print(mass_1);

50

In [1]:
#7 MATHEMATICAL EXPRESSION (eliminating ambiguity)
# BODMAS RULE :

total_cost = 2 + 3 * 5;
print(total_cost);

17

In [2]:
#7 PARENTHESIS

total_cost = ( 2 + 3 ) * 5;
print(total_cost);

25

In [5]:
#7 Bodmas and parenthesis

result = ( 2 * 4 ) * 2 + 4;
print(result);

20

In [6]:
#7 Bodmas and parenthesis

result = ( 2 * 4 ) * ( 2 + 4 );
print(result);

48

In [9]:
#7 Make sure that as many brackets you open , you close that much brackets too.

result = (( 2 * 4 ) * 2 ) + 4;
print(result);

20

In [11]:
#8 CONCATENATING TEXT STRINGS

yellow = " Hello ";
green = " Ali ";
blue = " , ";
orange = " Kumail ";
pink = " and ";
purple = " haider ";
print(yellow + green + blue + orange + pink + purple);

 Hello  Ali  ,  Kumail  and  haider

In [16]:
#8 Concatinate 

greeting = (" Hello " + " Sarararara ");
print(greeting);

 Hello  Sarararara

In [17]:
#8 CONCATINATION OF VARIABLE

first = "Ali";
second = "Khubsurat";
last = first + second;
print(last);

AliKhubsurat

In [5]:
#9 IF STATEMENT
# NOTE THAT "single '=' assigns a value to a variable."  ASSIGNING OPERATOR
# In if statement we use double equal to ... sign'=='.
# if statement ends with a colon ":"

animal = "dog";
if animal == "dog":
    print("okay");

okay

In [6]:
#9 IF STATEMENT

gender = "male";
if gender == "male":
    print("Allow");
else:
    print("Don't Allow");

Allow

In [8]:
#9 IF STATEMENT WITH NUMBERS

num_1 = 2 + 5;
if num_1 == 8:
    print("sahi");
else:
    print("Ghalat");

Ghalat

In [9]:
#9 YOU CAN MAKE 1,2,3... etc PRINTS... BUT IT DEPENDS ON IF STATEMENT 

number_of_students = 4;
if number_of_students == 4:
    print("okay");
    print("sahi");
    print("Allow");

okay
sahi
Allow

In [11]:
#9 OR operation  

num_of_stud = 4;
num_of_teach = 2;
if num_of_stud == 5 or num_of_teach == 2:
    print("okay");
    print("sahi");
    print("Allow");
else:
    print("cancel");

okay
sahi
Allow

In [15]:
#9 AND operation

age = 10;
gender = "male";
if age > 12 and gender == "male":
    print("Allow");
else:
    print("Don't Allow");

Don't Allow

In [5]:
#9 IF with number

x = 10;
y = 12;
z = 34;
if x < y < z:
    print("x is lesser than y and lesser than z")

x is lesser than y and lesser than z

In [8]:
#9 IF with number

x = 2;
y = 7;
z = 49;
if x != y:
    print("okay");

okay

In [12]:
#10 COMPARISON  OPERATORS 

'''
 ==
 != 
 <
 <=
 >
 >=

'''

ticket_no = 3125;
if ticket_no != 3120:
    print("Better Luck next time");

Better Luck next time

In [27]:
#10 comparison operator

'''
x = 3;
y = 6;
if x == y:
    print("okay");
else:
    print("not okay");
'''

'''
x = 3;
y = 45;
if x != y:
    print("okay");
'''

'''
x = 34;
y = 26;
if x >= y:
    print("true");
else:
    print("false");

'''

'''
x = 5;
y = 3;
if x > y:
    print();

'''    

x = 10;
y = 20;
print(x==y);
print(x!=y);
print(x<y);
print(x>y);
print(x>=y);
print(x<=y);

False
True
True
False
False
True

In [33]:
#11 ELSE AND ELIF( short cut of else if ) STATEMENT
# The elif is short for else if. It allows us to check for multiple expressions.
#  If the condition for if is False, it checks the condition of the next elif block and so on.
#  If all the conditions are False, the body of else is executed.

a = 10;
b = 20;
c = 44;
if a > b:
    print("a is greater than b");
elif a == c:
    print("a is smaller than c");
else:
    print("if and elif works");

if and elif works

In [6]:
#12 TESTING SETS OF CONDITIONS
# AND , OR operation

age = 32;
gender = "male";
if age > 30 and gender == "male":
    print("Allow");
else:
    print("Don't Allow");

Allow

In [7]:
#12 TESTING SETS OF CONDITIONS
# AND , OR operation

age = 32;
gender = "male";
if age > 34 and gender == "male":
    print("Allow");
else:
    print("Don't Allow");

Don't Allow

In [8]:
#12 TESTING SETS OF CONDITIONS
# AND , OR operation 

age = 32;
gender = "male";
if age > 34 or gender == "male":
    print("Allow");
else:
    print("Don't Allow");

Allow

In [12]:
#12 TESTING SETS OF CONDITIONS
# AND , OR

age = 71;
country = "pakistan";
if age < 80 or age > 70 and country == "india":
    print("yes");
else:
    ("no");

yes

In [16]:
#12 TESTING SETS OF CONDITIONS
# AND , OR

a = 10;
b = 10;
c = 22;
d = 22;
e = 3;
f = 3;
g = 55;
h = 12;
if (a == b and c == d) or (e == f or g == h):
    print("okay");
else:
    print("cancel")

okay

In [1]:
#12 TESTING SETS OF CONDITIONS
# AND , OR

a = 10;
b = 1;
c = 2;
d = 22;
e = 3;
f = 33;
g = 55;
h = 12;
if (a == b and c == d) or (e == f or g == h):
    print("okay");
else:
    print("cancel")

cancel

In [17]:
#13 IF STATEMENTS NESTED
# if an "if statememt" conatins another "if statement."

if 5 > 2:
    print("5 > 2");
    print("five is greater than two");
    if 6 > 2:
        print("6 is greater than 2");
print("Rest of the code");

5 > 2
five is greater than two
6 is greater than 2
Rest of the code

In [18]:
#13 IF STATEMENTS NESTED
# if an "if statememt" conatins another "if statement."

if 5 > 2:
    print("5 > 2");
    print("five is greater than two");
    if 6 < 2:
        print("6 is greater than 2");
print("Rest of the code");

5 > 2
five is greater than two
Rest of the code

In [21]:
#13 IF STATEMENTS NESTED
# if an "if statememt" conatins another "if statement."

'''
if 5 < 2:
    print("5 > 2");
    print("five is greater than two");
    if 6 < 2:
        print("6 is greater than 2");
print("Rest of the code");
'''

if 5 < 2:
    print("5 > 2");
    print("five is greater than two");
    if 6 > 2:
        print("6 is greater than 2");
print("Rest of the code");

Rest of the code